---
title: "Initiatives"
layout: gridlay
sitemap: false
permalink: /initiatives/
---

<div class="aside">
{% if site.initiatives_category %}
  {% for category in site.initiatives_category %}
    {% assign title_shown = false %}
    {% for post in site.initiatives reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2>
        <hr />
        {% assign title_shown = true %}
      {% endunless %}
      <h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.excerpt }}</p>
    {% endfor %}
  {% endfor %}
{% else %}
  <ul>
    {% for post in site.initiatives reversed %}
      <li>
        <h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
{% endif %}
</div>

### Current Initiatives

## McClintock Letters

Improving communication between scientists and the public is crucial for rebuilding trust and addressing misinformation. We're inviting scientists to share their stories with their local hometown paper through the McClintock Letters Initiative — a national op-ed campaign.

Join the McClintock Letter Writer's Space for feedback, community, and resources!

Read the McClintock Press Release here.

Need help getting your letter published? Submit a request for assistance here.

## Press Mentions

- New York Times | To Protest Budget Cuts, Young Scientists Try Letters to the Editor
- Cornell Chronicle | Cornell student campaign for research support reaches 50 states
- NBC News | Researchers have a radical plan to thwart Trump’s war on science: Talking to people
- EurekAlert | Hundreds of scientists speak out to defend science and honor Dr. Barbara McClintock
- New York Academy of Sciences | The McClintock Letters Initiative to Support Science
- Forbes | NSF, NIH Funding Cuts Spur Student-Led Science Communication Campaign
- Big Biology Substack | Show your support for federal science funding – Join the McClintock Letters Initiative

### Past Initiatives

Check back soon for more information!

