---
title: "Initiatives"
layout: gridlay
sitemap: false
permalink: /initiatives/
---

<div class="aside">
{% if site.initiatives_category %}
  {% for category in site.initiatives_category %}
    {% assign title_shown = false %}
    {% for post in site.initiatives reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2>
        <hr />
        {% assign title_shown = true %}
      {% endunless %}
      <h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.excerpt }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}
</div>
