---
title: "Press, Publication, & Report Mentions"
layout: gridlay
sitemap: false
permalink: /press/
---
<h2>Publication & Report Mentions</h2> 
<ul>
  {% for entry in site.data.pubs_reports %}
  <li>
    <p>{{ entry.date | date: '%b %d, %Y' }}:
      <a href="{{ entry.website }}">{{ entry.headline }}</a> in <i>{{ entry.source }}</i></p>
  </li>
  {% endfor %}
</ul>

<h2>Press Mentions</h2>
<ul>
  {% for article in site.data.press %}
  <li>
    <p>{{ article.date | date: '%b %d, %Y' }}:
      <a href="{{ article.website }}">{{ article.headline }}</a> in <i>{{ article.source }}</i></p>
  </li>
  {% endfor %}
</ul>
