<div>
{% for member in site.data.snap %}
<div class="jumbotron">
   <center>
   <h4>Connect with SNAP</h4>
   <div style="margin-bottom:5px">
   {% if member.email %}<a href="mailto:{{ member.email }}" target="_blank"><i class="fa-solid fa-envelope fa-2x"></i></a> {% endif %}
   {% if member.bluesky %} <a href="{{ member.bluesky }}" target="_blank"><i class="fa-brands fa-bluesky fa-2x"></i></a> {% endif %}
   {% if member.instagram %} <a href="{{ member.instagram }}" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a> {% endif %}
   {% if member.linkedin %} <a href="{{ member.linkedin }}" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a> {% endif %}
  </div>
  </center>
</div>
{% endfor %}
</div>

<div class="jumbotron">
  <h4>Press Mentions</h4>
  
  {% for post in site.news limit:3 %}
    <b>{{ post.date | date: '%B %d, %Y' }}</b>
      <p><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a></p>
  {% endfor %}

  <h5><a href="{{ site.url }}{{ site.baseurl }}/news/">... see more of SNAP in the News</a></h5>

</div>
