---
layout: gridlay
title: "Science Policy Hackathon"
excerpt: "Learn more about our upcoming scipol hackathon!"
collection: initiatives
category: upcoming
date: 2025-08-16
permalink: /initiatives/scipol-hackathon
---

<h2>Science Policy Hackathon</h2>

<p>SNAP is organizing a Science Policy Hackathon event to take place during the Spring semester! Small groups will tackle policy issues related to science and society, STEM professional formation, and bolstering the STEM workforce. Completed policy solutions will be showcased by SNAP.</p>

<p>Are you a graduate student at a university with a science policy group? Or don’t have a science policy grad group, but are interested in forming one? Email us for more info!</p>

<div class="jumbotron">
  <h2>Press Mentions</h2>
  <ul>
    {% assign found = 0 %}
    {% for article in site.data.press %}
      {% if article.category contains 'SciPol Hackathon' %}
        <li>
          <p><b>{{ article.date | date: '%b %d, %Y' }}:
        <a href="{{ article.website }}">{{ article.headline }}</a> in {{ article.source }}</b></p>
        </li>
        {% assign found = found | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if found == 0 %}
      <p><b>None yet! Check back soon for updates!</b></p>
    {% endif %}
  </ul>
</div>