---
layout: gridlay
title: "Science Policy Hackathon"
excerpt: "Check back soon to learn more about our scipol hackathon!"
collection: initiatives
category: upcoming
date: 2025-08-16
permalink: /initiatives/scipol-hackathon
---

<h2>Science Policy Hackathon</h2>

Check back soon to learn more about our scipol hackathon!

<div class="jumbotron">
  <h2>Press Mentions</h2>
  <ul>
    {% for article in site.data.press %}
      {% if article.category == 'SciPol Hackathon' %}
        <li>
          <p><b>{{ article.date | date: '%b %d, %Y' }}:
        <a href="{{ article.website }}">{{ article.headline }}</a> in {{ article.source }}</b></p>
        </li>
      {% else %}
        <p><b>None yet! Check back soon for updates!</b></p>
      {% break %}
      {% endif %}
    {% endfor %}
  </ul>
</div>