---
layout: gridlay
title: "Stance on Science"
excerpt: "Learn more about our Stance on Science initiative!"
collection: initiatives
category: current
date: 2025-09-10
permalink: /initiatives/stance-on-science
---
<img src="{{ site.url }}{{ site.baseurl }}/images/SNAPStanceSlide.png"  width="100%">

<p></p>
<h2>About Stance on Science</h2>

<p>Science affects every part of our daily lives—from the safety of our food and water, to the health of our communities, to the jobs and technologies that power our future. Yet too often, science is left out of political debates.</p>

<p>SNAP is launching a new initiative for the 2026 elections to change that. Our goals are to:</p>

<ol>
  <li>Show candidates that science matters by directly asking where they stand on pressing science policy-related issues.</li>
  <li>Provide voters with clear, accessible information so they can see which candidates value science in decision-making.</li>
  <li>Hold candidates accountable by sharing their responses publicly on our website and via local media.</li>
  <li>Encourage thoughtful engagement between communities and policymakers on science policy-related policies.</li>
</ol>

<h3>How It Works</h3>

<p>We will send political candidates across various states a set of science policy-related questions and ask for written responses. Their answers will be posted publicly on our website so that voters can easily compare positions.</p>

<p>To help make these responses meaningful, SNAP will also use a grading rubric to evaluate candidate answers. The rubric will assess criteria such as:</p>
<ul>
  <li>Evidence-based decision making</li>
  <li>Relevance to public health, environment, and innovation</li>
  <li>Commitment to transparency and accountability</li>
  <li>Willingness to listen to experts and communities</li>
  <li>Equity and accessibility</li>
</ul>

<h3>Why This Matters</h3>

<p>By highlighting candidates’ views on science, we aim to elevate science as a key part of the political conversation and remind candidates that voters care about evidence-based leadership.</p>

<h3>Why Us?</h3>

<p>As early-career scientists across various disciplines, we are passionate and committed to advocating for a future of science and science policy that serves society. We know that today’s decisions affect tomorrow’s world, so we are dedicated to ensuring science remains central to policy-making. As the future leaders of science and society, our goal is to bridge the gap between scientists and their communities through Stance on Science.</p>

<h3>How to Get Involved</h3>

<p>If you’d like to support this initiative, <a href="https://docs.google.com/forms/d/e/1FAIpQLSem6bVuZnK7eWls-CTMpxWxaxHpuElNj4oOXIvLkgDYRO6YNg/viewform?usp=header">fill out our interest form</a> and we’ll be in touch! There are opportunities for everyone—whether you’re ready to help lead outreach in your state or make a few calls or send emails to political candidates. Every contribution helps hold our political candidates accountable and strengthens our collective voice.</p>

<div class="jumbotron">
  <h2>Press Mentions</h2>
  <ul>
    {% assign found = 0 %}
    {% for article in site.data.press %}
      {% if article.category contains 'Stance on Science' %}
        <li>
          <p><b>{{ article.date | date: '%b %d, %Y' }}:
        <a href="{{ article.website }}">{{ article.headline }}</a> in <i>{{ article.source }}</i></b></p>
        </li>
        {% assign found = found | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if found == 0 %}
      <p><b>None yet! Check back soon for updates!</b></p>
    {% endif %}
  </ul>
</div>
