---
title: "Recess Congressional Visits"
excerpt: "Learn more about our recess congressional visits!"
collection: initiatives
category: current
date: 2025-04-15
permalink: /initiatives/congressional-visits
---

Placeholder for now.</br>

<ul>
  <li>One.</li>
  <li>Two.</li>
  <li>Three.</li>
</ul>

<div class="jumbotron">
  <h2>Press Mentions</h2>
  <ul>
    {% for article in site.data.press %}
      {% if article.category == 'Congressional Visits' %}
        <li>
          <p><b>{{ article.date | date: '%b %d, %Y' }}:
        <a href="{{ article.website }}">{{ article.headline }}</a> in {{ article.source }}</b></p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>