---
layout: gridlay
title: "Science Policy Courses"
excerpt: "Learn more about our upcoming scipol courses!"
collection: initiatives
category: upcoming
date: 2025-07-07
permalink: /initiatives/scipol-courses
---

<h2>Science Policy Courses</h2>

<p>SNAP is developing a modular science policy curriculum covering topics such as: What is Science Policy?, How Government Works, Science Communication, and more. These resources can be used to educate students at our home institutions and encourage the creation of new university science policy groups. More intensive course development will take place this fall.</p>

<div class="jumbotron">
  <h2>Press Mentions</h2>
  <ul>
    {% assign found = 0 %}
    {% for article in site.data.press %}
      {% if article.category contains 'SciPol Courses' %}
        <li>
          <p><b>{{ article.date | date: '%b %d, %Y' }}:
        <a href="{{ article.website }}">{{ article.headline }}</a> in {{ article.source }}</b></p>
        </li>
        {% assign found = found | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if found == 0 %}
      <p><b>None yet! Check back soon for updates!</b></p>
    {% endif %}
  </ul>
</div>