---
layout: gridlay
title: "Congressional District Visits"
excerpt: "Learn more about our congressional district visits!"
collection: initiatives
category: current
date: 2025-06-13
permalink: /initiatives/district-visits/
---

<p><b>We want to help you meet with the district office of your local Member of Congress!</b></p>

<p>In <a href="https://rollcall.com/2024/12/05/congress-calendar-2025-senate-house/">August</a>, Members will fly back home to their local districts. Once they return to Washington, D.C., they’ll be voting on the Fiscal Year 2026 budget, which is poised to <a href="https://www.aaas.org/news/fy-2026-rd-appropriations-dashboard">significantly cut funding to science agencies</a> like the NIH (~40% cut) and NSF (20-55% cut). As a constituent and scientist, your voice can make a difference for your community.</p>

<p>District visits will be coordinated by the <a href="https://snapcoalition.org/">Scientist Network for Advancing Policy (SNAP)</a>, a grassroots coalition of early-career researchers from around the country, and the authors of the open letter that you signed. Our goal is to advocate for sustained levels of federal science funding in FY2026.</p>

<p>We are especially seeking participants from districts that target <a href="https://docs.google.com/document/d/1FWWjpADpYtGG8nQ15FZAyVgEOk9iVOiL3kzHN4yWDGQ/edit?usp=sharing">specific lawmakers</a> to maximize impact; however, we welcome folks from any and everywhere to sign up! For nearby offices, meetings will be in person; for offices where you have a constituency but cannot attend an in-person meeting (e.g., your hometown), we plan to coordinate Zoom visits. SNAP will put individuals who sign up into meeting groups based on where you have a constituency. However, if you happen to have a lab or student group that wants to do this together, you may also sign up as a group using the same form below.</p>

<p>Never spoken with a Member of Congress? No problem. We’ll schedule the 15-30-minute meetings for you, host a one-hour training, and provide resources to help you get your point across. You’ll provide the heart — your personal story.</p>

<p>If you’re interested in this effort, please <a href="https://forms.gle/SEe8CtFGEjXFiLyX9"> fill out this form</a> by Friday, August 1st.</p>

<p>Reach out with any questions, comments, or concerns to <a href="mailto:a.rich@yale.edu">Alex Rich</a> or <a href="mailto:SNAPscipolorg@gmail.com">SNAP</a>.</p>

<div class="jumbotron">
  <h2>Press Mentions</h2>
  <ul>
    {% for article in site.data.press %}
      {% if article.category == 'Congressional Visits' %}
        <li>
          <p><b>{{ article.date | date: '%b %d, %Y' }}:
        <a href="{{ article.website }}">{{ article.headline }}</a> in {{ article.source }}</b></p>
        </li>
      {% else %}
        <p><b>None yet! Check back soon for updates!</b></p>
        {% break %}
      {% endif %}
    {% endfor %}
  </ul>
</div>