---
layout: gridlay
title: "Science Policy Hackathon"
excerpt: "Learn more about our upcoming scipol hackathon!"
collection: initiatives
category: upcoming
date: 2025-08-16
permalink: /initiatives/scipol-hackathon
---

<h2>Science Policy Hackathon</h2>

<p>Be on the lookout, SNAP’s SciPol Hackathon is coming this summer to a university near you! This project-focused initiative will bring together early-career researchers to work in interdisciplinary teams over three days to create a science-policy technical product, a multimedia piece, or a written output.</p>

<p>Following a recent planning meeting, we have defined key elements of the event, including team structure and coordination. We are also developing a code of conduct and guidance for team leads to support inclusive participation, clear expectations, and strong team dynamics, and are discussing ways to keep teams engaged beyond the event. Each team will present its work, with feedback centered on impact, creativity, and novelty.</p>

<div class="jumbotron">
  <h2>Press Mentions</h2>
  <ul>
    {% assign found = 0 %}
    {% for article in site.data.press %}
      {% if article.category contains 'SciPol Hackathon' %}
        <li>
          <p><b>{{ article.date | date: '%b %d, %Y' }}:
        <a href="{{ article.website }}">{{ article.headline }}</a> in <i>{{ article.source }}</i></b></p>
        </li>
        {% assign found = found | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if found == 0 %}
      <p><b>None yet! Check back soon for updates!</b></p>
    {% endif %}
  </ul>
</div>
