---
title: "McClintock Letters"
excerpt: "Learn more about our national op-ed writing campaign!"
collection: initiatives
category: current
date: 2025-04-15
permalink: /initiatives/mcclintock-letters
---

Improving communication between scientists and the public is crucial for rebuilding trust and addressing misinformation. We're inviting scientists to share their stories with their local hometown paper through the <a href="https://blogs.cornell.edu/asap/events-initiatives/the-mcclintock-letters/">McClintock Letters Initiative</a> — a national op-ed writing campaign.</br>

<h2>Action Items</h2>
<ul>
  <li>Join the <a href="https://mcclintocklet-jmj4172.slack.com/join/shared_invite/zt-37dzpgmdc-DqJlAP~yt9Qug~OCFnBh5g">McClintock Letter Writer's Space</a> for feedback, community, and resources!</li>
  <li>Read the <a href="{{ site.url }}{{ site.baseurl }}/initiatives/mcclintock-letters/press-release"McClintock Press Release<a>.</li>
  <li>Need help getting your letter published? Submit a <a href="#">request for assistance</a>.</li>
</ul>

<div class="jumbotron">
  <h2>Press Mentions</h2>
  <ul>
    {% for article in site.data.press %}
      {% if article.category == 'McClintock Letters' %}
        <li>
          <p><b>{{ article.date | date: '%b %d, %Y' }}:
        <a href="{{ article.website }}">{{ article.headline }}</a> in {{ article.source }}</b></p>
        </li>
      {% else %}
        <p><b>None yet! Check back soon for updates!</b></p>
      {% break %}
      {% endif %}
    {% endfor %}
  </ul>
</div>