---
layout: default
title: "McClintock Letters"
excerpt: "Learn more about our national op-ed writing campaign!"
collection: initiatives
category: current
date: 2025-04-15
permalink: /initiatives/mcclintock-letters/
---

<!-- These two divs give you a similar look to the home page so you can make your own sidebar -->

<div id="mainid" class="col-sm-7 col-xs-12">
	<h2>McClintock Letters</h2>

  Improving communication between scientists and the public is crucial for rebuilding trust and addressing misinformation. We're inviting scientists to share their stories with their local hometown paper through the <a href="https://blogs.cornell.edu/asap/events-initiatives/the-mcclintock-letters/">McClintock Letters Initiative</a> — a national op-ed writing campaign.</br>

  <h3>Action Items</h3>
  <ul>
    <li>Join the <a href="https://mcclintocklet-jmj4172.slack.com/join/shared_invite/zt-37dzpgmdc-DqJlAP~yt9Qug~OCFnBh5g">McClintock Letter Writer's Space</a> for feedback, community, and resources!</li>
    <li>Read the <a href="{{ site.url }}{{ site.baseurl }}/initiatives/mcclintock-letters/press-release">McClintock Press Release<a>.</li>
    <li>Need help getting your letter published? Submit a <a href="https://docs.google.com/forms/d/e/1FAIpQLSei6nfOkkAuyzRt2dwJ3abCMwrGU-3vEDxzlg0koPpVVuCxSA/viewform?usp=header">request for assistance</a>.</li>
  </ul>
</div>
  
<div id="sideid" class="col-sm-5 col-xs-12" >
	<div class="mcclintock-image">
    <img src="{{ site.url }}{{ site.baseurl }}/images/McClintock1947.png"  width="100%" alt="Barbara McClintock in her lab, 1947">
      <p class="attribution"><small>
          Barbara McClintock (1902–1992), shown in her lab at Cold Spring Harbor, was the first American woman to win an unshared Nobel Prize in science. She spoke about the obstacles she faced as a woman in science and credited her unique perspective as key to discoveries that revolutionized genetics, leading to breakthroughs from crop breeding to gene therapy. A champion of basic research and an advocate for the founding of the NSF, her legacy and the values she embodied are under threat today, making her a powerful symbol for this effort. Image courtesy of the <a href="https://siarchives.si.edu/collections/siris_arc_306310" target="_blank">Smithsonian Archives</a>.
      </small></p>
  </div>
</div>

<!-- This div spans the entire width -->

<div id="pressid" class="col-sm-12 col-xs-12"></div>
  <div class="jumbotron">
    <h2>Press Mentions</h2>
    <ul>
      {% for article in site.data.press %}
        {% if article.category == 'McClintock Letters' %}
          <li>
            <p><b>{{ article.date | date: '%b %d, %Y' }}:
          <a href="{{ article.website }}">{{ article.headline }}</a> in {{ article.source }}</b></p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
